/* inicio do css do login */

/* fim do css do login */

/* inicio do css da dashboard */

    #numeroFaturamento {
        font-size: 2rem;
        font-weight: bold;
    }

    #numeroPedidos {
        font-size: 2rem;
        font-weight: bold;
    }

    
/* fim do css da dashboard */